{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area gradient-bg text-light text-center">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(assets/img/shape/1.png);"></div>
        <!-- Fixed BG -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Error Page</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">404</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start 404 
    ============================================= -->
    <div class="error-page-area overflow-hidden default-padding">
        <!-- Shape Fixed Rotation -->
        <div class="shape">
            <img src="assets/img/shape/4.png" alt="Thumb">
        </div>
        <!-- Dhape Fixed Rotation -->
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 thumb">
                    <img src="assets/img/illustration/11.png" alt="Thumb">
                </div>
                <div class="col-lg-6">
                    <div class="error-box">
                        <h1>404</h1>
                        <h2>Sorry Page Was Not Found!</h2>
                        <p>
                            Household shameless incommode at no objection behaviour. Especially do at he possession insensible sympathize boisterous.
                        </p>
                        <a class="btn circle btn-md btn-gradient" href="/index.html">Back to home <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End 404 -->

{% endblock %}