
   
   
   <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area gradient-bg text-light text-center">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url({% static 'portfolio/assets/img/shape/1.png' %});"></div>
        <!-- Fixed BG -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>{{ blog.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area single full-blog full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">
                            <div class="blog-item-box">
                                <!-- Start Post Thumb -->
                                <div class="thumb">
                                    <a href="#">
                                        <img src="{% static 'portfolio/assets/img/blog/22.jpg %}" alt="Thumb">
                                        <div class="date">
                                            {{ blog.date|date:'d M' }} <strong>{{ blog.date|date:'Y' }}</strong>
                                        </div>
                                    </a>
                                </div>
                                <!-- Start Post Thumb -->
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <i class="fas fa-folder-open"></i>
                                            </li>
                                            <li>
                                                <a href="#">{{ blog.tags }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <p>{{ blog.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->